.h1 {
    color: $keyColor;
    font-family: $Playfair;
    font-size: $fsh1;
    text-align: center;
}

h2{
    color: $keyColor;
    font-family: $Playfair;
    font-size: $fsh1;
    text-align: center;
}

.h3{
    @extend .h1;
    font-size: 2rem;

}

footer{
    background-color: $mainColor;
    p{
        color: $keyColor;
    }
}